<a href="https://colab.research.google.com/github/Keishin315/Keishin315/blob/main/signate_bigginer%E9%99%90%E5%AE%9A%E3%82%B3%E3%83%B3%E3%83%9A(rfc).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install signate

Collecting signate
  Downloading signate-0.9.9-py3-none-any.whl (37 kB)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from signate) (0.8.9)
Collecting wget
  Downloading wget-3.2.zip (10 kB)
Collecting six>=1.16
  Downloading six-1.16.0-py2.py3-none-any.whl (11 kB)
Collecting urllib3>=1.26.7
  Downloading urllib3-1.26.8-py2.py3-none-any.whl (138 kB)
     |████████████████████████████████| 138 kB 44.2 MB/s
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from signate) (7.1.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from signate) (2021.10.8)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from signate) (2.8.2)
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9675 sha256=04284ba8b074686110a92b39563a76cc93679b7ad7007345490df4e5ad085273
  Stored in directory: /root/.cache/pip/wheels/a1/b6/7c/0e63e34eb06634181c63adacca38b79ff8f35c37e3c13e3c02
Successfully built wget
Installing collected packages: six, wget, urllib3, signate
  Attempting uninstall: six
    Found existing installation: six 1.15.0
    Uninstalling six-1.15.0:
      Successfully uninstalled six-1.15.0
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
requests 2.23.0 requires urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1, but you have urllib3 1.26.8 which is incompatible.
google-colab 1.0.0 requires six~=1.15.0, but you have six 1.16.0 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed signate-0.9.9 six-1.16.0 urllib3-1.26.8 wget-3.2

In [4]:
!signate token --email=jingxindi97@gmail.com --password=

The API Token has been downloaded successfully.

In [5]:
!signate list

  competitionId  title                                                                                      closing     prize                  submitters
---------------  -----------------------------------------------------------------------------------------  ----------  -------------------  ------------
              1  【練習問題】銀行の顧客ターゲティング                                                       -                                        5412
             24  【練習問題】お弁当の需要予測                                                               -                                        6685
             27  【練習問題】Jリーグの観客動員数予測                                                        -                                        1551
            100  【練習問題】手書き文字認識                                                                 -           Knowledge                     204
            102  【練習問題】タイタニックの生存予測                                                         -           Knowledge                    1272
            103  【練習問題】音楽ラベリング                                                                 -           Knowledge                      62
            104  【練習問題】スパムメール分類                                                               -           Knowledge                     138
            105  【練習問題】毒キノコの分類                                                                 -           Knowledge                     268
            106  【練習問題】アワビの年齢予測                                                               -           Knowledge                     364
            107  【練習問題】国勢調査からの収入予測                                                         -           Knowledge                     544
            108  【練習問題】画像ラベリング（20種類）                                                       -           Knowledge                     226
            112  【練習問題】ワインの品種の予測                                                             -           Knowledge                     316
            113  【練習問題】山火事の消失面積予測                                                           -           Knowledge                     205
            114  【練習問題】レンタル自転車の利用者数予測                                                   -           Knowledge                     386
            115  【練習問題】アヤメの分類                                                                   -           Knowledge                     355
            116  【練習問題】活動センサーログからの動作予測                                                 -           Knowledge                      52
            118  【練習問題】テニスの試合結果の予測                                                         -           Knowledge                     125
            121  【練習問題】自動車の走行距離予測                                                           -           Knowledge                    1472
            122  【練習問題】自動車の評価                                                                   -           Knowledge                     315
            123  【練習問題】オゾンレベルの分類                                                             -           Knowledge                      47
            124  【練習問題】ボットの判別                                                                   -           Knowledge                     309
            125  【練習問題】ガラスの分類                                                                   -           Knowledge                     160
            126  【練習問題】林型の分類                                                                     -           Knowledge                      40
            127  【練習問題】ゲーム選手のリーグ分類                                                         -           Knowledge                      60
            128  【練習問題】ステンレス板の欠陥分類                                                         -           Knowledge                      65
            129  【練習問題】都市サイクルの燃料消費量予測                                                   -           Knowledge                     127
            130  【練習問題】天秤のバランス分類                                                             -           Knowledge                     102
            132  【練習問題】ネット広告のクリック予測                                                       -           Knowledge                     145
            133  【練習問題】画像ラベリング（10種類）                                                       -                                         350
            135  【練習問題】ネット画像の分類                                                               -                                          74
            262  【SOTA】国立国会図書館の画像データレイアウト認識                                           2100-12-31  -                              72
            263  【SOTA】産業技術総合研究所 衛星画像分析コンテスト                                          2100-12-31  -                              44
            264  【SOTA】マイナビ × SIGNATE Student Cup 2019: 賃貸物件の家賃予測                            2100-12-31  -                             369
            265  【練習問題】健診データによる肝疾患判定                                                     -                                         510
            266  【練習問題】民泊サービスの宿泊価格予測                                                     -                                         575
            267  【SOTA】海洋研究開発機構 熱帯低気圧（台風等）検出アルゴリズム作成                          2100-12-31  -                              17
            268  【SOTA】オプト レコメンドエンジン作成                                                      2100-12-31                                 38
            269  【SOTA】アップル 引越し需要予測                                                            2100-12-31  -                             330
            270  【SOTA】Weather Challenge：雲画像予測                                                      2100-12-31  -                               8
            271  【SOTA】JR西日本 走行中の北陸新幹線車両台車部の着雪量予測                                  2100-12-31  -                              21
            288  【SOTA】Sansan 名刺の項目予測                                                              2100-12-31  -                              30
            294  【練習問題】債務不履行リスクの低減                                                         -                                         192
            358  【練習問題】機械稼働音の異常検知                                                           -                                          72
            404  【練習問題】モノクロ顔画像の感情分類                                                       -                                          76
            406  【練習問題】鋳造製品の欠陥検出                                                             -                                         190
            409  【練習問題】株価の推移予測                                                                 -                                         177
            496  【AIQuest2021】PBL_02 不良個所自動検出による検品作業効率化（製造業）ビジネス導入課題①      2022-02-05                                206
            497  【AIQuest2021】PBL_02 不良個所自動検出による検品作業効率化（製造業）ビジネス導入課題②      2022-02-05                                203
            498  【AIQuest2021】PBL_02 不良個所自動検出による検品作業効率化（製造業）ビジネス導入課題③      2022-02-05                                205
            499  【AIQuest2021】PBL_02 不良個所自動検出による検品作業効率化（製造業）AI課題                 2022-02-05                                194
            500  【AIQuest2021】PBL_02 不良個所自動検出による検品作業効率化（製造業）ビジネス実装課題       2022-02-05                                171
            517  【AIQuest2021】PBL_05 不良個所自動検出による検品作業効率化（木材加工業）ビジネス導入課題①  2022-02-05                                150
            518  【AIQuest2021】PBL_05 不良個所自動検出による検品作業効率化（木材加工業）ビジネス導入課題②  2022-02-05                                150
            519  【AIQuest2021】PBL_05 不良個所自動検出による検品作業効率化（木材加工業）ビジネス導入課題③  2022-02-05                                150
            520  【AIQuest2021】PBL_05 不良個所自動検出による検品作業効率化（木材加工業）AI課題             2022-02-05                                135
            521  【AIQuest2021】PBL_05 不良個所自動検出による検品作業効率化（木材加工業）ビジネス実装課題   2022-02-05                                 95
            537  第5回AIエッジコンテスト（実装コンテスト③）                                                 2022-02-15  total 1,600,000 yen            14
            563  SUBARU 画像認識チャレンジ                                                                  2022-01-31  総額¥2,000,000                122
            565  【SOTA】SIGNATE Student Cup 2021春：楽曲のジャンル推定チャレンジ！！                       2100-12-31  -                              32
            567  【SOTA】SIGNATE Student Cup 2021秋：オペレーション最適化に向けたシェアサイクルの利用予測   2100-12-31  -                              23
            575  【第18回_Beginner限定コンペ】PCゲームの勝敗予測                                            2022-01-31                                 68

In [6]:
!signate download --competition-id=575

sample_submit.csv

test.csv

train.csv


Download completed.

In [7]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [9]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [10]:
sample_sub = pd.read_csv('sample_submit.csv')

In [11]:
train

      gameId  blueFirstBlood  ...  blueTotalExperience  blueWins
0          0               0  ...                17446         0
1          1               1  ...                14253         1
2          2               1  ...                19003         1
3          3               1  ...                17958         1
4          4               1  ...                16088         0
...      ...             ...  ...                  ...       ...
4920    4920               1  ...                17422         0
4921    4921               1  ...                16136         0
4922    4922               0  ...                17029         1
4923    4923               0  ...                16210         0
4924    4924               1  ...                18699         1

[4925 rows x 10 columns]

In [12]:
test

      gameId  blueFirstBlood  ...  blueTotalGold  blueTotalExperience
0       4925               0  ...          14872                14277
1       4926               0  ...          16046                16238
2       4927               0  ...          15432                17274
3       4928               0  ...          17421                17284
4       4929               0  ...          16160                17439
...      ...             ...  ...            ...                  ...
4920    9845               1  ...          18645                18720
4921    9846               0  ...          15623                14271
4922    9847               1  ...          15854                15917
4923    9848               0  ...          17220                17971
4924    9849               0  ...          15765                15892

[4925 rows x 9 columns]

In [13]:
sample_sub

      4925  0
0     4926  0
1     4927  0
2     4928  0
3     4929  0
4     4930  0
...    ... ..
4919  9845  0
4920  9846  0
4921  9847  0
4922  9848  0
4923  9849  0

[4924 rows x 2 columns]

In [14]:
train = train.drop('gameId',axis=1)

In [16]:
train_x = train.drop('blueWins',axis=1)
train_y = train['blueWins']

In [17]:
print(train_x,train_y)

      blueFirstBlood  blueKills  ...  blueTotalGold  blueTotalExperience
0                  0          7  ...          17398                17446
1                  1          8  ...          15925                14253
2                  1         14  ...          21457                19003
3                  1          6  ...          16364                17958
4                  1          3  ...          15451                16088
...              ...        ...  ...            ...                  ...
4920               1          8  ...          17489                17422
4921               1          7  ...          17296                16136
4922               0          7  ...          17287                17029
4923               0          2  ...          15283                16210
4924               1         11  ...          18722                18699

[4925 rows x 8 columns] 0       0
1       1
2       1
3       1
4       0
       ..
4920    0
4921    0
4922    1
4923    0
4924    1
Name: blueWins, Length: 4925, dtype: int64

In [40]:
model = RandomForestClassifier(max_depth=300)

In [19]:
(train_x,test_x,train_y,test_y) = train_test_split(train_x,train_y,test_size=0.3)

In [41]:
model.fit(train_x,train_y)

RandomForestClassifier(max_depth=300)

In [42]:
y_pred = model.predict(test_x)

In [30]:
from sklearn.metrics import accuracy_score

In [43]:
accuracy = accuracy_score(test_y, y_pred)
accuracy

0.7638700947225981

In [44]:
test_gameId = test['gameId']

In [45]:
test = test.drop('gameId',axis=1)

In [63]:
sub = model.predict(test)

In [64]:
sub = pd.DataFrame(sub)

In [65]:
sub[1] = test_gameId

In [66]:
sub[1] = sub[0]

In [67]:
sub[0] = test_gameId

In [68]:
print(sub)

         0  1
0     4925  0
1     4926  0
2     4927  0
3     4928  0
4     4929  0
...    ... ..
4920  9845  1
4921  9846  0
4922  9847  0
4923  9848  0
4924  9849  0

[4925 rows x 2 columns]

In [80]:
sub.to_csv('sub1.csv',index = False)